body {
    width: auto;
    margin: 0%;
}

body::-webkit-scrollbar {
    display: none;
}

#job {
    font-size: 23px;
    font-weight: 500;
    margin: 0%;
}

.name {
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
}

#firstname {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #6BB8FE;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#firstname:hover {
    box-shadow: inset 150px 0 0 0 #54b3d6;
    color: #FFFFFF;
}

.welcome {
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-family: 'Quicksand';
    margin-top: 15%; 
}